.container1{
    border: 5px solid black;
    margin: 0px 50px 0px 50px;
    font-family: monospace;
    font-weight: bold;
    background: #f1f1f1;
    padding: 20px;
}

.container2{
    display: none;
}


#header{
    text-align: center;
    color: blue;
}
#container{
    color: brown;
}

.displayValues{
    color: darkblue;
}